.gap-6 {
        gap: 1.5rem;
      }
      .grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
      }
      .grid {
        display: grid;
      }
      .mt-5 {
        margin-top: 1.25rem;
      }
      *, ::before, ::after {
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        --tw-border-opacity: 1;
        border-color: rgba(226, 232, 240, var(--tw-border-opacity));
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-ring-inset: var(--tw-empty, );
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59, 130, 246, 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-blur: var(--tw-empty, );
        --tw-brightness: var(--tw-empty, );
        --tw-contrast: var(--tw-empty, );
        --tw-grayscale: var(--tw-empty, );
        --tw-hue-rotate: var(--tw-empty, );
        --tw-invert: var(--tw-empty, );
        --tw-saturate: var(--tw-empty, );
        --tw-sepia: var(--tw-empty, );
        --tw-drop-shadow: var(--tw-empty, );
        --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
      }
      *, ::before, ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: currentColor;
      }
      *, ::before, ::after {
        box-sizing: border-box;
      }
      .content {
        --tw-bg-opacity: 1;
        --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      .content {
        --tw-bg-opacity: 1;
        --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      .wrapper .wrapper-box {
        --tw-bg-opacity: 1;
      }

      * > .intro-y:nth-child(1) {
        z-index: 49;
        position: relative;
        opacity: 0;
        transform: translateY(50px);
        -webkit-animation: 0.4s intro-y-animation ease-in-out 0.33333s;
        animation: 0.4s intro-y-animation ease-in-out 0.33333s;
          animation-delay: 0.33333s;
          animation-fill-mode: none;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }
        
      .col-span-12 {
        grid-column: span 12 / span 12;
      }
      

      .content {
        --tw-bg-opacity: 1;
        --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      .wrapper .wrapper-box {
        --tw-bg-opacity: 1;
      }




      .report-box{
        position: relative;
    }
    .report-box:before {
        content: "";
        width: 90%;
        background: #f9fafc;
        box-shadow: 0px 3px 20px #0000000b;
        position: absolute;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.75rem;
        height: 100%;
        border-radius: 0.375rem;
      }
    .report-box .report-box__icon {
        width: 28px;
        height: 28px;
      }
    .report-box .report-box__indicator {
        padding-top: 3px;
        padding-bottom: 3px;
        display: flex;
        align-items: center;
        border-radius: 9999px;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
      }
    .dark .report-box:before {
        background: #2d3650;
      }
    .report-box-2{
        position: relative;
    }
    .report-box-2:before {
        content: "";
        width: 90%;
        background: #f9fafc;
        box-shadow: 0px 3px 20px #0000000b;
        position: absolute;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.75rem;
        height: 100%;
        border-radius: 0.375rem;
      }
    .report-box-2 .report-box-2__indicator {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 0.75rem;
        margin-right: auto;
        display: flex;
        align-items: center;
        border-radius: 9999px;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
      }
    .dark .report-box-2:before {
        background: #2d3650;
      }
    .report-box-3 {
        margin-left: -22px;
        margin-right: -22px;
        position: relative;
      }
    @media (max-width: 767px) {
        .report-box-3 {
          margin-left: -16px;
          margin-right: -16px;
        }
      }
    .report-box-3:before {
        content: "";
        border-radius: 30px 30px 0px 0px;
        transform: translatey(35px);
        -webkit-animation: 0.4s intro-report-box-3-animation ease-in-out 0.33333s;
                animation: 0.4s intro-report-box-3-animation ease-in-out 0.33333s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        --tw-bg-opacity: 1;
        background-color: rgba(210, 223, 234, var(--tw-bg-opacity));
        --tw-bg-opacity: 0.4;
        opacity: 0;
      }
    .dark .report-box-3:before{
        --tw-bg-opacity: 1;
        background-color: rgba(49, 58, 85, var(--tw-bg-opacity));
        --tw-bg-opacity: 0.5;
    }
    .report-box-3.report-box-3--content {
        padding: 0px 22px;
        min-height: 400px;
      }
    .report-box-3.report-box-3--content:before {
        content: "";
        border-radius: 30px;
        transform: translatey(35px);
        -webkit-animation: 0.4s intro-report-box-3-animation ease-in-out 0.33333s;
                animation: 0.4s intro-report-box-3-animation ease-in-out 0.33333s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
        box-shadow: 0px 3px 20px #0000000b;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        --tw-bg-opacity: 1;
        background-color: rgba(241, 245, 248, var(--tw-bg-opacity));
        opacity: 0;
      }
    .dark .report-box-3.report-box-3--content:before{
        --tw-bg-opacity: 1;
        background-color: rgba(41, 49, 69, var(--tw-bg-opacity));
    }
    @media (max-width: 1279px) {
        .report-box-3.report-box-3--content:before{
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        .report-box-3.report-box-3--content:before{
            --tw-shadow: 0 0 #0000;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
      }
    @-webkit-keyframes intro-report-box-3-animation {
        100%{
            opacity: 1;
        }
        100% {
          transform: translateX(0px);
        }
      }
    @keyframes intro-report-box-3-animation {
        100%{
            opacity: 1;
        }
        100% {
          transform: translateX(0px);
        }
      }
    .report-box-4{
        position: relative;
    }
    .report-box-4:before {
        content: "";
        border-radius: 30px 30px 0px 0px;
        transform: translatey(35px);
        -webkit-animation: 0.4s intro-report-box-4-animation ease-in-out 0.33333s;
                animation: 0.4s intro-report-box-4-animation ease-in-out 0.33333s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
        margin-left: -22px;
        margin-right: -22px;
        box-shadow: 0px 3px 20px #0000000b;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        display: none;
        height: 100%;
        --tw-bg-opacity: 1;
        background-color: rgba(241, 245, 248, var(--tw-bg-opacity));
        opacity: 0;
      }
    .dark .report-box-4:before{
        --tw-bg-opacity: 1;
        background-color: rgba(41, 49, 69, var(--tw-bg-opacity));
    }
    @media (max-width: 1279px) {
        .report-box-4:before{
            display: block;
        }
      }
    @media (max-width: 767px) {
        .report-box-4:before {
          margin-left: -16px;
          margin-right: -16px;
        }
      }
    .report-box-4 .report-box-4__content {
        flex: 1 1 0;
      }
    @-webkit-keyframes intro-report-box-4-animation {
        100%{
            opacity: 1;
        }
        100% {
          transform: translateX(0px);
        }
      }
    @keyframes intro-report-box-4-animation {
        100%{
            opacity: 1;
        }
        100% {
          transform: translateX(0px);
        }
      }










      .p-5 {
        padding: 1.25rem;
      }
      .box {
        box-shadow: 0px 3px 20px #0000000b;
        position: relative;
        border-radius: 0.375rem;
        border-color: transparent;
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
      }
      

      html body {
        font-family: Roboto;
        font-size: 0.875rem;
        line-height: 1.25rem;
        --tw-text-opacity: 1;
        color: rgba(45, 55, 72, var(--tw-text-opacity));
      }
      body {
        font-family: inherit;
        line-height: inherit;
      }
      body {
        font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
      }
      :root {
        --fc-list-event-dot-width: 10px;
        --fc-list-event-hover-bg-color: #f5f5f5;
      }
      :root {
        --fc-daygrid-event-dot-width: 8px;
      }
      :root {
        --litepicker-container-months-color-bg: #fff;
        --litepicker-container-months-box-shadow-color: #ddd;
        --litepicker-footer-color-bg: #fafafa;
        --litepicker-footer-box-shadow-color: #ddd;
        --litepicker-tooltip-color-bg: #fff;
        --litepicker-month-header-color: #333;
        --litepicker-button-prev-month-color: #9e9e9e;
        --litepicker-button-next-month-color: #9e9e9e;
        --litepicker-button-prev-month-color-hover: #2196f3;
        --litepicker-button-next-month-color-hover: #2196f3;
        --litepicker-month-width: calc(var(--litepicker-day-width) * 7);
        --litepicker-month-weekday-color: #9e9e9e;
        --litepicker-month-week-number-color: #9e9e9e;
        --litepicker-day-width: 38px;
        --litepicker-day-color: #333;
        --litepicker-day-color-hover: #2196f3;
        --litepicker-is-today-color: #f44336;
        --litepicker-is-in-range-color: #bbdefb;
        --litepicker-is-locked-color: #9e9e9e;
        --litepicker-is-start-color: #fff;
        --litepicker-is-start-color-bg: #2196f3;
        --litepicker-is-end-color: #fff;
        --litepicker-is-end-color-bg: #2196f3;
        --litepicker-button-cancel-color: #fff;
        --litepicker-button-cancel-color-bg: #9e9e9e;
        --litepicker-button-apply-color: #fff;
        --litepicker-button-apply-color-bg: #2196f3;
        --litepicker-button-reset-color: #909090;
        --litepicker-button-reset-color-hover: #2196f3;
        --litepicker-highlighted-day-color: #333;
        --litepicker-highlighted-day-color-bg: #ffeb3b;
      }
      html {
        --tw-bg-opacity: 1;
      }
      html {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        line-height: 1.5;
      }
      html body {
        font-family: Roboto;
        font-size: 0.875rem;
        line-height: 1.25rem;
        --tw-text-opacity: 1;
        color: rgba(45, 55, 72, var(--tw-text-opacity));
      }
      body {
        font-family: inherit;
        line-height: inherit;
      }
      body {
        font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
      }
      :root {
        --fc-list-event-dot-width: 10px;
        --fc-list-event-hover-bg-color: #f5f5f5;
      }
      :root {
        --fc-daygrid-event-dot-width: 8px;
      }
      :root {
        --litepicker-container-months-color-bg: #fff;
        --litepicker-container-months-box-shadow-color: #ddd;
        --litepicker-footer-color-bg: #fafafa;
        --litepicker-footer-box-shadow-color: #ddd;
        --litepicker-tooltip-color-bg: #fff;
        --litepicker-month-header-color: #333;
        --litepicker-button-prev-month-color: #9e9e9e;
        --litepicker-button-next-month-color: #9e9e9e;
        --litepicker-button-prev-month-color-hover: #2196f3;
        --litepicker-button-next-month-color-hover: #2196f3;
        --litepicker-month-width: calc(var(--litepicker-day-width) * 7);
        --litepicker-month-weekday-color: #9e9e9e;
        --litepicker-month-week-number-color: #9e9e9e;
        --litepicker-day-width: 38px;
        --litepicker-day-color: #333;
        --litepicker-day-color-hover: #2196f3;
        --litepicker-is-today-color: #f44336;
        --litepicker-is-in-range-color: #bbdefb;
        --litepicker-is-locked-color: #9e9e9e;
        --litepicker-is-start-color: #fff;
        --litepicker-is-start-color-bg: #2196f3;
        --litepicker-is-end-color: #fff;
        --litepicker-is-end-color-bg: #2196f3;
        --litepicker-button-cancel-color: #fff;
        --litepicker-button-cancel-color-bg: #9e9e9e;
        --litepicker-button-apply-color: #fff;
        --litepicker-button-apply-color-bg: #2196f3;
        --litepicker-button-reset-color: #909090;
        --litepicker-button-reset-color-hover: #2196f3;
        --litepicker-highlighted-day-color: #333;
        --litepicker-highlighted-day-color-bg: #ffeb3b;
      }